{% extends "base.html" %}
{% load staticfiles %}
{% load static %}


{% block content %}

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {% include "aluno_sidebar.html" %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include "aluno_topbar.html" %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Plataforma FATEC - Módulo Vitrine</h1>
          </div>
        </div>
      </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Dados em um card -->
            <div class="col-xl-6 col-md-12 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <form action={% url 'manutencao:cadastro_aluno' %} novalidate method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {{ form.aluno.label}}
                          </div>
                          {{ form.aluno }}
                          <br>
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {{ form.descricao.label }}
                          </div>
                          {{ form.descricao }}
                          <br><br>
                          <input type="submit" value="Cadastrar"/>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


    {% include "rodape.html" %}
    </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
{% endblock %}
