{% extends "base.html" %}
{% load staticfiles %}
{% load static %}


{% block content %}

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6">
                  <center>
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'img/fatec.jpg' %}" alt="">
                  </center>
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Plataforma FATEC Araras</h1>
                  </div>
                  <form method="post" action="{% url 'core:login' %}" >
                  {% csrf_token %}
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" autofocus="autofocus" name="username" id="username" aria-describedby="emailHelp" placeholder="Digite seu e-mail...">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" name="password" id="password" placeholder="Senha">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="#">Esqueci minha senha</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="#">Criar uma conta</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


{% endblock %}